In [24]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [46]:
# Set up connection to database and establish engine and connection
engine = create_engine('postgresql://postgres:password@localhost:5432/employee_sql_hw')
connection = engine.connect()

In [47]:
# Set up reflection to confirm table reading
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()
# Lacking PK in Salaries table poses a problem here

['title', 'employees', 'departments']

In [50]:
# Let's try with inspector
inspector = inspect(engine)
inspector.get_table_names()
inspector.get_columns('salaries')

[{'name': 'emp_no',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'salary',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [61]:
# Figure out how to talk to the database
# Double quotes are what made this work

results = engine.execute('SELECT * FROM salaries').fetchall()

In [58]:
columns = inspector.get_columns('salaries')
print(columns)

[{'name': 'emp_no', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'salary', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}]

In [54]:
# Set Salary as a class and use automap_base

Base = automap_base()
Base.prepare(engine, reflect=True)
Salary = Base.classes.salaries