In [65]:
# Python SQL toolkit and Object Relational Mapper
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [66]:
# Set up connection to database and establish engine and connection
engine = create_engine('postgresql://NOTMYUSER:NOTMYPASSWORD@localhost:5432/employee_sql_hw')
connection = engine.connect()

In [67]:
# Set up reflection to confirm table reading
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()
# Lacking PK in Salaries table poses a problem here

['title', 'employees', 'departments', 'salaries', 'dept_emp']

In [68]:
# Let's try with inspector
inspector = inspect(engine)
inspector.get_table_names()
inspector.get_columns('salaries')

[{'name': 'emp_no',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'salary',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [82]:
# Figure out how to talk to the database
# Double quotes are what made this work

results = engine.execute('SELECT * FROM salaries').fetchall()

In [83]:
columns = inspector.get_columns('salaries')
print(columns)

[{'name': 'emp_no', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'salary', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}]

In [88]:
# Set Salary as a class and use automap_base

Base = automap_base()
Base.prepare(engine, reflect=True)
Salary = Base.classes.salary

AttributeError: salary

In [98]:
# Start a session and query the database
session = Session(engine)

results = session.query(Salary.salary).order_by(Salary.salary.desc())

In [99]:
# Put column 2 data into a list
salaries = [int(result[0]) for result in results]
# salaries

[129492,
 127238,
 127041,
 126703,
 125469,
 124357,
 123749,
 123668,
 123477,
 122726,
 122423,
 121617,
 121468,
 121393,
 121070,
 121038,
 120986,
 120775,
 120532,
 120487,
 120446,
 120253,
 120127,
 120032,
 119939,
 119925,
 119370,
 119159,
 119159,
 119124,
 118631,
 118459,
 118427,
 118375,
 118270,
 118250,
 118095,
 118027,
 117985,
 117948,
 117762,
 117474,
 117303,
 117276,
 117268,
 117206,
 117180,
 117066,
 117024,
 116766,
 116602,
 116528,
 116448,
 116412,
 116265,
 116204,
 116186,
 116145,
 116104,
 116084,
 116058,
 116019,
 115993,
 115874,
 115850,
 115785,
 115777,
 115739,
 115647,
 115476,
 115318,
 115314,
 115227,
 115194,
 115174,
 115143,
 115082,
 115037,
 114977,
 114964,
 114933,
 114927,
 114918,
 114889,
 114844,
 114812,
 114784,
 114743,
 114678,
 114639,
 114603,
 114588,
 114586,
 114550,
 114498,
 114440,
 114164,
 114104,
 114057,
 113803,
 113797,
 113787,
 113720,
 113707,
 113695,
 113688,
 113674,
 113655,
 113651,
 113604,
 113601,
 113588,
 113566,
 113527,
 113516,
 113505,
 113449,
 113271,
 113236,
 113219,
 113188,
 113050,
 113013,
 113007,
 112995,
 112924,
 112789,
 112785,
 112781,
 112730,
 112709,
 112689,
 112674,
 112595,
 112576,
 112551,
 112551,
 112519,
 112513,
 112486,
 112450,
 112422,
 112359,
 112355,
 112348,
 112334,
 112216,
 112193,
 112173,
 112155,
 112109,
 112093,
 112053,
 112033,
 112020,
 111837,
 111764,
 111745,
 111737,
 111688,
 111598,
 111551,
 111527,
 111525,
 111448,
 111365,
 111241,
 111231,
 111076,
 111072,
 111044,
 111024,
 111013,
 111007,
 110998,
 110987,
 110967,
 110960,
 110921,
 110867,
 110843,
 110842,
 110820,
 110779,
 110778,
 110727,
 110719,
 110716,
 110649,
 110648,
 110638,
 110636,
 110635,
 110616,
 110608,
 110607,
 110591,
 110574,
 110564,
 110554,
 110542,
 110537,
 110495,
 110449,
 110437,
 110308,
 110276,
 110236,
 110202,
 110197,
 110157,
 110153,
 110151,
 110135,
 110099,
 110093,
 110082,
 110076,
 110072,
 109998,
 109986,
 109947,
 109943,
 109934,
 109934,
 109919,
 109903,
 109897,
 109888,
 109871,
 109860,
 109859,
 109832,
 109814,
 109787,
 109763,
 109760,
 109760,
 109757,
 109733,
 109702,
 109690,
 109641,
 109588,
 109568,
 109531,
 109530,
 109525,
 109486,
 109463,
 109449,
 109449,
 109440,
 109395,
 109394,
 109356,
 109339,
 109331,
 109320,
 109319,
 109277,
 109268,
 109260,
 109252,
 109239,
 109215,
 109192,
 109141,
 109069,
 109056,
 109052,
 109027,
 109025,
 109007,
 108994,
 108990,
 108972,
 108963,
 108941,
 108929,
 108923,
 108917,
 108864,
 108858,
 108851,
 108840,
 108837,
 108827,
 108760,
 108753,
 108686,
 108684,
 108627,
 108626,
 108556,
 108525,
 108512,
 108507,
 108451,
 108415,
 108408,
 108396,
 108388,
 108355,
 108343,
 108341,
 108328,
 108276,
 108252,
 108250,
 108192,
 108117,
 108100,
 108099,
 108069,
 108053,
 108036,
 108031,
 107999,
 107983,
 107949,
 107944,
 107935,
 107921,
 107912,
 107911,
 107907,
 107901,
 107897,
 107850,
 107849,
 107849,
 107813,
 107790,
 107775,
 107773,
 107769,
 107769,
 107767,
 107760,
 107740,
 107739,
 107710,
 107677,
 107655,
 107639,
 107638,
 107583,
 107576,
 107573,
 107550,
 107534,
 107445,
 107440,
 107410,
 107410,
 107410,
 107393,
 107376,
 107362,
 107359,
 107354,
 107318,
 107316,
 107312,
 107306,
 107301,
 107299,
 107297,
 107289,
 107281,
 107261,
 107258,
 107256,
 107250,
 107231,
 107212,
 107207,
 107188,
 107177,
 107168,
 107165,
 107148,
 107118,
 107109,
 107098,
 107077,
 107036,
 107030,
 107016,
 106966,
 106966,
 106956,
 106950,
 106945,
 106935,
 106905,
 106861,
 106849,
 106846,
 106837,
 106829,
 106821,
 106795,
 106784,
 106744,
 106727,
 106704,
 106699,
 106690,
 106689,
 106682,
 106670,
 106667,
 106651,
 106649,
 106642,
 106612,
 106610,
 106598,
 106597,
 106588,
 106579,
 106572,
 106568,
 106564,
 106553,
 106550,
 106524,
 106503,
 106452,
 106428,
 106424,
 106419,
 106415,
 106411,
 106404,
 106394,
 106389,
 106387,
 106344,
 106341,
 106334,
 106332,
 106312,
 106308,
 106305,
 106300,
 106296,
 106288,
 106286,
 106261,
 106258,
 106249,
 106247,
 106236,
 106223,
 106218,
 106209,
 106201,
 106160,
 106158,
 106124,
 106110,
 106109,
 106103,
 106090,
 106087,
 106084,
 106068,
 106062,
 106048,
 106043,
 106036,
 106033,
 106024,
 105995,
 105993,
 105987,
 105986,
 105985,
 105944,
 105937,
 105920,
 105918,
 105904,
 105882,
 105877,
 105877,
 105876,
 105859,
 105838,
 105824,
 105807,
 105802,
 105794,
 105793,
 105782,
 105750,
 105747,
 105746,
 105700,
 105687,
 105681,
 105677,
 105671,
 105654,
 105615,
 105611,
 105608,
 105599,
 105598,
 105593,
 105588,
 105555,
 105555,
 105552,
 105529,
 105528,
 105518,
 105512,
 105509,
 105501,
 105497,
 105487,
 105472,
 105461,
 105455,
 105449,
 105444,
 105440,
 105438,
 105415,
 105406,
 105398,
 105395,
 105389,
 105384,
 105373,
 105368,
 105330,
 105320,
 105278,
 105240,
 105239,
 105234,
 105233,
 105226,
 105217,
 105213,
 105157,
 105150,
 105147,
 105137,
 105111,
 105086,
 105085,
 105083,
 105081,
 105071,
 105042,
 105023,
 105005,
 104998,
 104996,
 104981,
 104969,
 104968,
 104964,
 104959,
 104940,
 104931,
 104929,
 104927,
 104903,
 104903,
 104877,
 104876,
 104875,
 104849,
 104833,
 104824,
 104823,
 104822,
 104810,
 104807,
 104798,
 104785,
 104761,
 104745,
 104743,
 104742,
 104739,
 104738,
 104716,
 104700,
 104696,
 104683,
 104682,
 104661,
 104640,
 104636,
 104627,
 104622,
 104617,
 104613,
 104611,
 104610,
 104598,
 104566,
 104561,
 104560,
 104556,
 104540,
 104538,
 104525,
 104522,
 104520,
 104508,
 104507,
 104477,
 104466,
 104465,
 104452,
 104427,
 104411,
 104402,
 104398,
 104390,
 104375,
 104360,
 104353,
 104347,
 104345,
 104340,
 104334,
 104331,
 104317,
 104312,
 104279,
 104264,
 104256,
 104253,
 104248,
 104237,
 104226,
 104225,
 104215,
 104196,
 104181,
 104170,
 104161,
 104158,
 104153,
 104142,
 104139,
 104139,
 104137,
 104130,
 104121,
 104110,
 104109,
 104095,
 104066,
 104065,
 104010,
 103976,
 103956,
 103954,
 103938,
 103933,
 103923,
 103923,
 103919,
 103901,
 103891,
 103862,
 103861,
 103854,
 103850,
 103847,
 103847,
 103845,
 103837,
 103816,
 103815,
 103811,
 103804,
 103779,
 103751,
 103750,
 103734,
 103732,
 103731,
 103728,
 103725,
 103724,
 103711,
 103710,
 103710,
 103702,
 103696,
 103691,
 103679,
 103671,
 103650,
 103649,
 103647,
 103647,
 103646,
 103640,
 103639,
 103637,
 103628,
 103608,
 103598,
 103581,
 103579,
 103556,
 103534,
 103529,
 103509,
 103487,
 103463,
 103460,
 103457,
 103452,
 103448,
 103445,
 103444,
 103444,
 103438,
 103436,
 103435,
 103421,
 103418,
 103401,
 103399,
 103397,
 103393,
 103391,
 103388,
 103387,
 103374,
 103372,
 103372,
 103369,
 103368,
 103360,
 103356,
 103344,
 103344,
 103321,
 103315,
 103304,
 103291,
 103283,
 103283,
 103279,
 103275,
 103274,
 103268,
 103267,
 103256,
 103254,
 103244,
 103241,
 103224,
 103222,
 103215,
 103211,
 103201,
 103196,
 103191,
 103173,
 103171,
 103169,
 103154,
 103152,
 103145,
 103141,
 103114,
 103097,
 103097,
 103035,
 103020,
 103018,
 103000,
 102992,
 102990,
 102981,
 102981,
 102973,
 102950,
 102939,
 102936,
 102931,
 102928,
 102927,
 102924,
 102919,
 102909,
 102905,
 102892,
 102879,
 102870,
 102869,
 102861,
 102854,
 102848,
 102844,
 102822,
 102777,
 102767,
 102766,
 102759,
 102753,
 102750,
 102742,
 102719,
 102717,
 102716,
 102711,
 102693,
 102690,
 102675,
 102663,
 102661,
 102652,
 102646,
 102643,
 102640,
 102637,
 102629,
 102625,
 102623,
 102622,
 102605,
 102601,
 102599,
 102591,
 102585,
 102562,
 102561,
 102560,
 102549,
 102547,
 102543,
 102542,
 102539,
 102519,
 102517,
 102516,
 102512,
 102511,
 102501,
 102498,
 102498,
 102497,
 102495,
 102489,
 102463,
 102460,
 102457,
 102453,
 102443,
 102442,
 102440,
 102439,
 102429,
 102424,
 102420,
 102411,
 102399,
 102394,
 102392,
 102390,
 102385,
 102379,
 102371,
 102368,
 102365,
 102360,
 102327,
 102312,
 102302,
 102299,
 102298,
 102288,
 102287,
 102275,
 102271,
 102269,
 102267,
 102256,
 102249,
 102240,
 102236,
 102230,
 102221,
 102219,
 102201,
 102195,
 102192,
 102180,
 102160,
 102159,
 102154,
 102153,
 102144,
 102142,
 102135,
 102134,
 102133,
 102121,
 102096,
 102094,
 102092,
 102084,
 102068,
 102063,
 102061,
 102036,
 102036,
 102008,
 101993,
 101992,
 101986,
 101982,
 101973,
 101969,
 101967,
 101958,
 101952,
 101951,
 101939,
 101933,
 101930,
 101930,
 101929,
 101928,
 101925,
 101923,
 101921,
 101910,
 101894,
 101872,
 101864,
 101858,
 101850,
 101847,
 101842,
 101839,
 101825,
 101800,
 101798,
 101798,
 101796,
 101793,
 101789,
 101786,
 101773,
 101762,
 101758,
 101744,
 101744,
 101742,
 101738,
 101733,
 101728,
 101727,
 101726,
 101722,
 101721,
 101708,
 101705,
 101702,
 101701,
 101700,
 101698,
 101697,
 101692,
 101687,
 101675,
 101656,
 101654,
 101652,
 101643,
 101642,
 101641,
 101640,
 101633,
 101630,
 101628,
 101626,
 101626,
 101617,
 101609,
 101600,
 101593,
 ...]

In [74]:
# Ok, let's do a data verification by reading the csv directly

filepath = "../Data/salaries.csv"

salaries_data = pd.read_csv(filepath)

salaries_data

        emp_no  salary
0        10001   60117
1        10002   65828
2        10003   40006
3        10004   40054
4        10005   78228
...        ...     ...
300019  499995   40000
300020  499996   58058
300021  499997   49597
300022  499998   40000
300023  499999   63707

[300024 rows x 2 columns]